* {

box-sizing: border-box;
}



body {
    background-color:black
}
div {
display: inline-block;
}
h1 {
    color: slategrey;
    font-family: "Tektur", serif;
    text-align:center;
}
h3 {
    color: slategrey;
    font-family: "Tektur", serif;
    text-align: center;
}

@media screen and (max-height: 450px) {

hr{
    align-self: center;
    margin-left: 20%;
    margin-right: 20%;
}
.titles {
    font-size: 20px;
    color: #818181;
    font-family: "Tektur", serif;
    margin-left: 20%;
    margin-right: 20%;
}
p {
    color: #818181;
    font-family: "Tektur", serif;
    margin-left: 20%;
    margin-right: 20%;
}
h6 {
    color: #818181;
    font-family: "Tektur", serif;
}
.faceplace {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
