.rcorners {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 500px;
  height: 450px;
  display: inline-block;
  margin-right: 30px;
}
.card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 16px;
            margin: 8px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        .details {
            font-size: 0.8em;
            color: #555;
        }

@media screen and (min-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
    body {
        background-color: lightblue;
    }
}

@media screen and (max-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of less than 800px*/
    body {
        background-color: yellow;
    }
}


/* Set the background color of body to tan */
body {
  background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
  div {
   display: flex;
  align-items: center;
  justify-content: center;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
